.home-articles {
  margin: 0 auto;
  margin-bottom: 200px;
}

.home-articles__wrapper {
  display: flex;
}

.home-articles__heading {
  font-weight: bold;
  font-size: 48px;
  color: #333333;
  text-align: center;
}

.home-articles__div1 {
  width: 305px;
  height: 435px;
  background-color: #fff;
  border: 1px solid #e4e4e2;
  box-sizing: border-box;
  border-radius: 5px;
}

.home-div1__wrapper {
  display: block;
  padding: 22px;
}

.home-div1__wrapper__heading {
  width: 182px;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
}

.home-div1__wrapper__text {
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.home-div1__wrapper__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.home-div1__wrapper__btn span {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}
.home-articles__div2 {
  display: flex;
  width: 640px;
  height: 435px;
  background-color: #ffffff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 5px;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}
.home-articles__div1:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.home-articles__div2:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.home-articles__div1:active {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.home-articles__div2:active {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.home-div2__wrapper {
  padding: 30px;
}
.home-div2__wrapper__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.home-div2__wrapper__list__item:nth-child(1) {
  color: #3d9cea;
  margin-left: 9px;
}
.home-div2__wrapper__list__item:nth-child(2) {
  color: #3d9cea;
  margin-left: 9px;
}
.home-div2__wrapper__list__item:nth-child(3) {
  color: #3d9cea;
  margin-left: 9px;
}
.home-div2__wrapper__list__item:nth-child(4) {
  margin-left: auto;
}

@media only screen and (max-width: 1290px) {
  .home-articles__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .home-articles__div2 {
    margin-bottom: 40px;
    order: -1;
  }

  .home-articles__div1 {
    margin: 12px;
  }
}
@media only screen and (max-width: 650px) {
  .home-articles__div2 {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 475px) {
  .home-artciles__div2__img {
    width: 250px;
    height: 390px;
  }
}
